# Vault Agent Config
pid_file = "/var/run/vault-agent.pid"

vault {
  address = "{{ vault_address }}"
  token = "{{ vault_token }}"
}

template {
  destination = "{{ output_file }}"
  command     = "systemctl restart httpd"
  contents = <<EOH
{{ "{{ with secret \"" }}{{ secret_path }}{{ "\" }}" }}
<html><body>
<p>Password: {{ "{{ .Data.data.password }}" }}</p>
<p>ENV VAR: {{ "{{ env \"MY_SECRET_VAR\" }}" }}</p>
</body></html>
{{ "{{ end }}" }}
EOH
}
