# templates/vault_agent_config.hcl.j2
pid_file = "/var/run/vault-agent.pid"

vault {
  address = "{{ vault_address }}"
  token = "{{ vault_token }}"
}

template {
  destination = "{{ output_file }}"
  command     = "systemctl restart httpd"
  source      = "/etc/vault/index.html.j2"
}
